*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    color: white;
    animation-duration: 200ms;
}
:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --bg-fixed: #28282b;
    --bg-secondary: linear-gradient(DodgerBlue, darkblue);
    --text-primary: aliceblue;
    --text-secondary: cadetblue;
}
::-webkit-scrollbar{
    display: none;
}
#btn1, #btn2{
    display: none;
}


/* min-width: 899px */



@media only screen and (min-width: 999px){
header{
    z-index: 2;
    position: fixed;
    height: 4rem;
    width: 100vw;
    background-color: var(--bg-fixed);
}
.container{
    padding: 0 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div1{
    font-size: 2.5rem;
    grid-area: 1 / 1 / 3 / 2;
}
.div2{
    grid-area: 1 / 2 / 2 / 3;
}
.div3{
    grid-area: 2 / 2 / 3 / 3;
}
.div2, .div3{
    justify-content: flex-end;
    font-size: 1.3rem;
}
.div0, .div4{
    display: none;
}
#logo{
    font-size: 2.5rem;
}
.small{
    padding-left: 1rem;
}
nav{
    z-index: 1;
    margin: 4rem 0;
    position: fixed;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15rem;
    height: calc(100vh - 4rem);
    background-color: var(--bg-fixed);
}
#menuIndex{
    padding: 2rem;
    height: 15rem;
    list-style: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#map{
    border: 0;
    padding: 2rem;
}
section{
    overflow: auto;
    padding-top: 4rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bg-secondary);
}
}



/* max-width: 900px */



@media only screen and (max-width: 1000px){
header{
    z-index: 2;
    padding-bottom: .5rem;
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100vw;
}
.head, label{
    height: 3.8rem;
    width: 3.8rem;
    display: flex;
    background-color: var(--bg-fixed);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50%;
}
.container{
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#menuIndex{
    display: none;
}
.text, #map{
    display: none;
}
.container a{
    font-size: 3rem;
}
.clock, .menu{
    cursor: pointer;
}
section{
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--bg-fixed);
}
}



/* Content */



.courses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* bilde
    img {
        opacity: 0.5;
      }
      
      img:hover {
        opacity: 1.0;
      }*/
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

#starters {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
    /*image height: 100hv;
    image width: 100vw;*/
}

/*lite proble nå*/
.beskbilde {
    display: flex;



}

#lunch{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

#main{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

#dessert
{
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}


#beverages
{background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    line-height: 100px; }

footer{
    padding: 4rem;
    text-align: center;
    background-color: darkblue;
}
footer p{
    color: var(--text-secondary);
}



